<div class="bg-main justify-between flex px-1">
  <!-- Hamburger Menu -->
  <%= render "layouts/shared/hamburger_menu" %>
  <!-- Title -->
  <div>Title</div>
  <!-- Right Icon -->
  <div>Icon</div>
</div>
