<div class="bg-main justify-between flex pl-1 pr-2">
  <!-- Hamburger Menu -->
  <%= render "layouts/shared/hamburger_menu" %>
  <!-- Title -->
  <div class='text-gray-100 my-auto font-semibold'><%= yield(:header_title) %></div>
  <!-- Right Icon -->
  <div class='text-gray-100 my-auto'><%= yield(:header_icon) %></div>
</div>
