<div class='flex bg-white p-2'>
  <%= image_tag(group.icon, class: "h-16", alt: group.icon) %>

  <div class='flex flex-col justify-evenly ml-2'>
    <%= link_to group.name, group, class: "font-bold ml-2" %>
    <p class='text-sm ml-2'>Total Amount: $<%= group.payments.sum(:amount) %></p>
  </div>

</div>
