<div>
  <h1 class="font-bold text-4xl">Splash#index</h1>
  <p>Find me in app/views/splash/index.html.erb</p>

  <a href="/users/sign_in" class="mr-5 font-medium hover:text-gray-900">Login</a>
  <a href="/users/sign_up" class="mr-5 font-medium hover:text-gray-900">Register</a>

</div>
