<% content_for :header_title, "Splash Page" %>

<div class="flex flex-col items-center h-screen">
  <h1 class='text-3xl mb-auto my-auto font-headline'>EasyPay</h1>

  <div class='flex flex-col items-center gap-3 mb-5'>
    <a
      href="/users/sign_in"
      class="
        font-medium
        bg-main
        rounded
        px-24
        py-3
        text-gray-100
      "
    >LOG IN</a>
    <a href="/users/sign_up" class="font-medium text-gray-700 hover:text-gray-900 ">SIGN UP</a>
  </div>

</div>
