<div id="<%= dom_id payment %>, class='flex bg-white p-2'">

  <%= image_tag("icons/archive_box.svg", class: "h-16", alt: "Archive Box Icon") %>

  <div class='flex flex-col justify-between ml-2'>
    <div class='flex'>
      <p><%= payment.name %></p>
      <p class='text-gray-900 font-bold'>Total Value</p>

    </div>
    <p><%= payment.created_at %></p>
  </div>

</div>
