<% content_for :header_title, "New Payment" %>

<%= render "form", payment: @payment, selected_group: @selected_group %>

<br>

<div class='text-center'>
  <%= link_to "Back to payments", payments_path %>
</div>
